@charset "utf-8";
body,
html {
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.wrapper{margin:0 auto; width:1000px;}

.header{float:left; width:100%; background:url(../images/header_bg.jpg);}	
.upper_header{float:left; width:100%; background:rgba(243, 104, 25, .7); margin:5px 0 0 0;}
.logo{float:left; margin:10px 0;}
.banner{float:left; margin:8px 0 0 0;}
.form_heading{float:left; width:100%; padding:20px 0; text-align:center; font:bold 32px/44px Arial, Helvetica, sans-serif; color:#11375c;}
.form_contain{float:left; width:100%; border-top:14px solid #b6541d; margin:56px 0 0 0;}
.form_contain .navigation{float:left; width:100%; margin:-56px 0 40px;}
.form_contain .navigation a{float:left; color:#fff; background:#11375c; border-radius:5px 5px 0 0; text-transform:capitalize; font:18px Arial, Helvetica, sans-serif; text-decoration:none; padding:10px 30px; margin:0 15px 0 0;}
.form_contain .navigation a:hover, .form_contain .navigation a.active{background:#b6541d;}
.form_contain section{float:left; width:90%; padding:0 0 20px; margin:0 5% 20px; border-bottom:1px solid#b4b2b2;}
.form_contain section h2{font:18px Arial, Helvetica, sans-serif; color:#b6541d; padding:0 0 20px;}
.form_contain section .left_section{float:left; width:48%; padding:0 0 0 20px; border-right:1px solid#b4b2b2;}
.form_contain section .right_section{float:left; width:47%; padding:0 0 0 20px;}
.clr {
    clear: both;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}
.container {
    margin: 0;
    padding: 0;
    width: 100%;
    font: normal 12px/1.5em Arial,Helvetica,sans-serif;
    color: #3c3c3c;
}
p {
    margin: 0 0 16px 0;
    padding: 0;
}
a {
    color: #3c3c3c;
    text-decoration: underline;
}
h2 {
    margin: 0;
    padding: 0;
    font: normal 30px/1.5em Arial,Helvetica,sans-serif;
}
p.light { color: #999 }
p.nobottom { margin-bottom: 0 }
p.bot8px { margin-bottom: 8px }
p.p_center { text-align: center }
p.p_right { text-align: right }
p.bigprice {
    margin: 0 0 4px 0;
    font: normal 30px/1.2em Arial,Helvetica,sans-serif;
}
p.timeclock {
    margin: 0 0 4px 0;
    font: normal 30px/1.2em Arial,Helvetica,sans-serif;
    text-align: center;
}
p.timeclock img {
    margin: -3px 4px -3px 0;
    border: none;
}
.linehr {
    margin-bottom: 16px;
    background: #d7d7d7 url(../images/linehr.gif) repeat-x top;
    height: 2px;
    line-height: 0;
    font-size: 0;
}
div#header-wrap {
    background: url(../../images/header_bg.jpg);
    display: inline-block;
    width: 100%;
}

.header {
    color: #a4c5ee;
    /*background: #335c91 url(../images/header_bg_right.jpg) no-repeat top right;*/
   /* min-width: 100%;*/
	left: 0;
    right: 0;
	top:0px;
    /*z-index: 1030;*/
}
.header img.logo {
    float: left;
    border: none;
}
.header .right {
    padding-right: 5px;
    float: right;
}
.header .right a { color: #fff }
.header .right p {
    margin-top: 17px;
    padding: 8px 16px;
    float: right;
}
.header .right .dark { background-color: #295287 }
.header .right .light {
    background-color: #355e93;
    border: 1px solid #43699a;
}
.header .right ul {
    margin: 16px 0 0 0;
    padding: 8px 4px;
    float: right;
    list-style: none;
}
.header .right ul li {
    padding: 0 12px;
    float: left;
    border-left: 1px solid #a4c5ee;
}
.header .right ul li.first { border-left: none }
.header .right img {
    margin: 0 12px 0 0;
    border: none;
}
.header .right img.logout {
    margin-top: -4px;
    margin-bottom: -4px;
}
.header .menu {
    padding-right: 0;
    margin: 0;
    background: url(../images/menu_bg.gif) repeat-x top;
}
.header .menu .rightblock {
    margin: 0;
    padding: 0;
    float: right;
    width: auto;
    background: url(../images/menu_balloon.gif) repeat-x top;
}
.header .menu .rightblock div { background: url(../images/menu_balloon_left.gif) no-repeat top left }
.header .menu .rightblock div div {
    padding: 18px 6px 18px 6px;
    background: url(../images/menu_balloon_right.gif) no-repeat top right;
    text-align: right;
}
.header .menu .rightblock a {
    margin: 0 2px;
    padding: 5px 0;
    font-weight: bold;
    color: #335c91;
    text-decoration: none;
    background: url(../images/button_white.gif) repeat-x top;
}
.header .menu .rightblock a img {
    margin: -4px 4px -4px 0;
    padding: 0;
    border: none;
}
.header .menu .rightblock a span {
    padding: 5px 0 5px 12px;
    background: url(../images/button_white_left.gif) no-repeat top left;
}
.header .menu .rightblock a span span {
    padding: 5px 12px 5px 0;
    background: url(../images/button_white_right.gif) no-repeat top right;
}
.header .menu ul {
    margin: 0 0 0 1px;
    padding: 0;
    float: left;
    list-style: none;
}
.header .menu ul li {
    margin: 0;
    padding: 0 0 0 5px;
    float: left;
    background: url(../images/menu_split.gif) no-repeat right top;
}
.header .menu ul li a {
    display: block;
    padding-bottom: 0;
    padding-right: 5px;
    padding-top: 0;
    color: #fff;
    text-decoration: none;
}
.header .menu ul li a img {
    margin: 0 0 0 8px;
    border: none;
}
.header .menu ul li a span { display: block }
.header .menu ul li a span span { padding: 0 0 0 16px }
.header .menu ul li a span span span { padding: 19px 16px 19px 0 }
.header .menu ul li a:hover span { background: url(../images/menu_balloon.gif) repeat-x top }
.header .menu ul li a:hover span span { background: url(../images/menu_balloon_left.gif) no-repeat top left }
.header .menu ul li a:hover span span span { background: url(../images/menu_balloon_right.gif) no-repeat top right }

/*.header .menu ul ul, .header .menu ul ul ul {margin: 0;padding: 0;list-style: none;}*/
.header .menu ul ul, .header .menu ul ul ul {margin: 0;padding: 0;list-style: none;}

/*.header .menu ul ul, .header .menu ul li:hover ul ul {display: none;position: absolute;}*/
.header .menu ul ul, .header .menu ul li:hover ul ul , .header .menu ul li:hover ul li:hover ul ul { display:none; position:absolute;}


.header .menu ul ul {
    margin: 0 0 0 -4px;
    padding: 0;
    width: 178px;
    background-color: #2f5586;
	 z-index: 2;
}
.header .menu ul ul ul {
    left: 178px;
    margin: -36px 0 0 0;
    z-index: 2;
}

/*.header .menu ul li:hover ul, .header .menu ul li:hover li:hover ul { display: block }*/
.header .menu ul li:hover ul, .header .menu ul li:hover li:hover ul , .header .menu ul li:hover li:hover li:hover ul { display:block;}

.header .menu ul ul li {
    margin: 1px 0 0 0;
    padding: 0;
    float: none;
    background-color: #335c91;
    background-image: none;
    border-top: 1px solid #416798;
    border-left: 1px solid #416798;
    border-right: 1px solid #305687;
    border-bottom: 1px solid #305687;
}
.header .menu ul ul li a {
    display: block;
    padding: 8px 18px;
    color: #fff;
    background: url(../images/li_square_white.gif) no-repeat 10px 16px;
    width: 100%;
}
.header .menu ul ul li.active { background: #335c91 url(../images/dropleft_arrow.gif) no-repeat 160px 13px }
.footer {
    background-color: #193e5b;
    background-position: center top;
    background-repeat: no-repeat;
    border-top: 7px solid #b6541d;
    color: #fff;
    float: left;
    text-align: center;
    width: 100%;
}
.footer .bgr {
    padding-right: 24px;
    background: url(../images/footer_bg_right.jpg) no-repeat top right;
}
.footer img.logo {
    float: left;
    border: none;
}
.footer div.f_right {
    float: right;
    width: 400px;
}
.footer a { color: #b8ddf9 }
.footer a span {
    font-weight: bold;
    color: #fff;
}
.footer ul {
    margin: 0;
    padding: 20px 0 0 0;
    float: right;
    list-style: none;
}
.footer ul li {
    float: left;
    border-left: 1px solid #b7d1f1;
}
.footer ul li.first { border-left: none }
.footer ul li a { padding: 0 12px }
.footer p {
    margin: 0;
    padding: 32px 0 0 0;
    color: #b7d1f1;
    text-align: right;
}
.footer p img {
    margin: -6px 8px;
    border: none;
}
.content { margin-top: 0 auto; }
.content_res {
    margin: 0 auto;
    padding: 32px 0;
    width: 98%;
}
.leftblock {
    margin-right: 10px;
    float: left;
    width: 757px;
}
.rightblock {
    width: 249px;
    float: left;
}
.gadget h3 {
    margin: 8px 0 0 0;
    padding: 8px 0;
    font: bold 12px/1.5em Arial,Helvetica,sans-serif;
}
.gadget h3 img.calendar {
    margin: -6px 4px -6px 0;
    border: none;
}
.gadget .titlebar { /*margin-bottom: 2px*/ }
.gadget .titlebar h3 {
    margin: 0;
    padding: 8px 32px 7px 16px;
    font: bold 12px/1.5em Arial,Helvetica,sans-serif;
    background: #aaa url(../images/dropdown_bg.gif) repeat-x top;
    border: 1px solid #fff;
}
.gadget .titlebar a {
    margin: 1px 1px 0 0;
    float: right;
}
.gadget .titlebar a img,
.gadget .error a img { border: none }
.gadget .titlebar a.hidegadget {
    /*-moz-border-radius: 5px;
    background: #335c91 url(../images/button_dropup_bl.gif) no-repeat center center;*/
}
.gadget .titlebar a.closegadget { background: #335c91 url(../images/button_close_bl.gif) no-repeat center center }
.gadget .error_tit {
    /*margin-bottom: 2px;*/
    padding: 0;
}
.gadget .error_tit h3 {
    margin: 0 60px 0 0;
    padding: 9px 0 10px 16px;
    font: bold 12px/1.5em Arial,Helvetica,sans-serif;
    color: #fff;
}
.gadget .error_tit a.hideerr {
    margin: 2px 2px 0 0;
    float: right;
}
.gadget .error_tit a.closeerr {
    margin: 2px 4px 0 0;
    float: right;
}
.gadget .error_tit img { border: none }
.gadget .error_msg {
    padding: 16px;
    background-color: #fffbe0;
    border: 1px solid #FFFF33;
}
.gadget .error_msg_green {
    padding: 10px;
    background-color: #fffbe0;
    border: 1px solid #7ab235;
}
.gadget .error_msg p {
    margin: 0;
    padding: 0;
    color: #3c3c3c;
}
.gadget .error_msg a { font-weight: bold }
.err_or .error_tit { background-color: #ff5e3b }
.err_bl .error_tit { background-color: #335c91 }
.err_gr .error_tit { background-color: #9d9d9d }
.err_green .error_tit {
    background-color: #fffbe0;
    -moz-border-radius: 15px;
}
.err_or .error_tit a.hideerr { background: #df5132 url(../images/button_dropup_or.gif) no-repeat center center }
.err_bl .error_tit a.hideerr { background: #33507b url(../images/button_dropup_bl.gif) no-repeat center center }
.err_gr .error_tit a.hideerr { background: #7e7e7e url(../images/button_dropup_gr.gif) no-repeat center center }
.err_green .error_tit a.hideerr { background: #7e7e7e url(../images/button_dropup_gr.gif) no-repeat center center }
.err_or .error_tit a.closeerr { background: #df5132 url(../images/button_close_or.gif) no-repeat center center }
.err_bl .error_tit a.closeerr { background: #33507b url(../images/button_close_bl.gif) no-repeat center center }
.err_gr .error_tit a.closeerr { background: #7e7e7e url(../images/button_close_gr.gif) no-repeat center center }
.err_green .error_tit a.closeerr { background: #7e7e7e url(../images/button_close_gr.gif) no-repeat center center }
.err_or .error_msg a { color: #ff5e3b }
.err_bl .error_msg a { color: #335c91 }
.err_gr .error_msg a { color: #3c3c3c }
.err_green .error_msg a { color: #3c3c3c }
.gadget .gadgetblock {
    padding: 10px 2px; /*padding: 12px 16px;*/
    background-color: #fff; /*#f4f4f4;*/
    /*border: 1px solid #cfcfcf;*/
	border-right: 1px solid #cfcfcf;
	border-left: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}
.gadgets3par {
    margin-left: -4px;
    margin-right: -4px;
}
.gadget3inline {
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    width: 247px;
}
.gadget ul.grayarrow {
    margin: 0;
    padding: 0;
    list-style: none;
}
.gadget ul.grayarrow li { background: url(../images/li_arrow.gif) no-repeat 0 10px }
.gadget ul.grayarrow li a {
    display: block;
    margin: 0;
    padding: 6px 0 6px 16px;
    color: #335c91;
}
.gadget ul.withlines li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d7d7d7;
}
.gadget ul.withlines li.first { border-top: none }
.gadget ul.withlines li.last { border-bottom: none }
.gadget a.colourbutton {
    padding: 6px 0 8px 10px;
    color: #fff;
    text-decoration: none;
}
.gadget a.colourbutton span { padding: 6px 10px 8px 0 }
.gadget a.colourbutton span span { padding: 6px 12px 8px 6px }
.gadget a.button_orange { background: url(../images/button_orange_left.gif) no-repeat top left }
.gadget a.button_orange span { background: url(../images/button_orange_right.gif) no-repeat top right }
.gadget a.button_orange span span { background: #ff5e3b url(../images/button_orange.gif) repeat-x top }
.gadget a.button_blue { background: url(../images/button_blue_left.gif) no-repeat top left }
.gadget a.button_blue span { background: url(../images/button_blue_right.gif) no-repeat top right }
.gadget a.button_blue span span { background: #ff5e3b url(../images/button_blue.gif) repeat-x top }
.gadget .shadowpar {
    margin: 0 0 -12px 0;
    padding-left: 6px;
}
.gadget .pixshadow {
    margin: 4px 5px 12px 5px;
    padding: 4px;
    float: left;
    background-color: #ececec;
}
.gadget .pixshadow img {
    margin-top: -8px;
    margin-left: -8px;
    padding: 2px;
    background-color: #fff;
    border: 1px solid #d7d7d7;
}
.gadget table.gwlines {
    margin: 0;
    padding: 0;
}
.gadget table.gwlines th {
    padding: 6px;
    font-weight: bold;
    background-color: #fff;
    border-bottom: 1px solid #d7d7d7;
}
.gadget table.gwlines td {
    padding: 6px;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d7d7d7;
}
.gadget table.gwlines tr.last td { border-bottom: none }
.gadget table.arborder {
    /*margin-bottom: 8px;*/
    border: 1px solid #d7d7d7;
}
.gadget table .lrborder {
    border-left: 1px solid #d7d7d7;
    /*border-right: 1px solid #d7d7d7;*/
}
.gadget table th.calign { text-align: center }
.gadget table td.ralign {
    text-align: center;
    padding-right: 12px;
}
.gadget img.tabpimpa { border: none }
.gadget .blockshadow {
    margin: 4px 0 8px 4px;
    padding: 4px;
    background-color: #ececec;
}
.gadget .blockshadow div.bs_content {
    margin-top: -8px;
    margin-left: -8px;
    padding: 10px 12px;
    background-color: #fff;
    border: 1px solid #d7d7d7;
}
.gadget .blockshadow div.bs_content img.context {
    margin-right: 8px;
    float: left;
    border: none;
}
.gadget .blockshadow div.bs_content div.context {
    float: left;
    width: 126px;
}
.gadget .blockshadow div.bs_content div.context h4 {
    margin: 0 0 6px 0;
    padding: 0 0 6px 0;
    font: bold 16px/1.2em Arial,Helvetica,sans-serif;
    border-bottom: 1px solid #d7d7d7;
}
.gadget .iconblockpar {
    margin: 0 0 -16px 0;
    padding: 8px 6px 0 6px;
}
.gadget .iconblockshade {
    margin: 0 12px 12px 12px;
    float: left;
    width: 118px;
}
.gadget .blockshadow div.iconblock { padding: 6px 24px 0 24px }
.gadget .blockshadow div.iconblock img { border: none }
.gadget .blockshadow div.iconblock p { text-align: center }
.gadget .blockshadow div.iconblock a { color: #999 }
.gadget .whiteblock {
    padding: 12px 20px;
    background-color: #fff;
    border: 1px solid #d7d7d7;
}
.gadget .whiteblock img { border: none }
.gadget .whiteblock img.cardpay { float: left }
.gadget .whiteblock img.cardlogo { margin: -6px 0 -8px 0 }
.gadget .whiteblock .priceblock {
    padding: 8px 20px;
    float: left;
}
.gadget .whiteblock .cardsblock {
    padding: 0 0 0 20px;
    float: right;
    border-left: 1px solid #d7d7d7;
}
.gadget .whiteblock .pimpabtn { margin: -2px 0 }
.gadget .whiteblock .specpad { padding-top: 12px }
.gadget .clocktime {
    width: 110px;
    float: left;
}
.gadget .clockdate {
    padding-left: 4px;
    float: left;
}
.gadget .vertsortable_head { cursor: move }
.gadget .horizsortable_head { cursor: move }
form {
    margin: 0;
    padding: 0;
}
form ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
form ol li {
    display: block;
    margin: 0;
    padding: 0 0 8px 0;
}
form input.text,
form textarea,
form select {
    font: normal 12px/1.5em Arial,Helvetica,sans-serif;
    color: #3c3c3c;
}
form input.text {
    margin: 4px 0;
    padding: 4px;
    background: #fff;
}
form input.text { height: 15px }
form a.pnbtn {
    padding: 4px 8px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #d7d7d7;
}
.form_quickcontact input.text { width: 140px }
.form_quickcontact textarea { width: 204px }
.form_login { margin-bottom: 8px }
.form_login input.text { width: 140px }
form input.text { width: 140px }
.form_example textarea { width: 450px }
.form_example input.mini {
    width: 64px;
    text-align: center;
}
.form_example input.small { width: 120px }
.form_example input.medium { width: 180px }
.form_example input.large { width: 450px }
.form_example input.date { width: 16px }
.form_example input.year { width: 32px }
.form_example select { width: 450px }
.form_example select.cntresults {
    float: right;
    width: 100px;
}
.form_example label.small {
    float: left;
    width: 132px;
}
.form_example label.date {
    float: left;
    width: 35px;
}
.form_example label.year {
    float: left;
    width: 50px;
}


/*.ui-state-default,
.ui-widget-content .ui-state-default {
    border: 1px solid #f3f3f3;
    text-align: center;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus { border: 1px dotted #d7d7d7 }
.ui-state-active,
.ui-widget-content .ui-state-active { border: 1px solid #d7d7d7 }
.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
    border: 1px solid #d7d7d7;
    background: #fff;
    text-align: center;
}
.ui-datepicker {
    margin-top: 8px;
    margin-bottom: 16px;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 4px 0;
    border: 1px solid #d7d7d7;
    background: #fff;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    padding-top: 3px;
    top: 2px;
    width: 36px;
    height: 23px;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover { border: none }
.ui-datepicker .ui-datepicker-prev {
    left: 8px;
    background: url(../images/arrow_prev.gif) no-repeat 2px 8px;
    text-align: right;
}
.ui-datepicker .ui-datepicker-next {
    left: 182px;
    background: url(../images/arrow_next.gif) no-repeat 28px 8px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span { display: block }
.ui-datepicker .ui-datepicker-title {
    margin: 0;
    padding-right: 12px;
    line-height: 1.8em;
    text-align: right;
}
.ui-datepicker table {
    width: 100%;
    border-collapse: collapse;
}
.ui-datepicker th {
    padding: 6px 4px;
    text-align: center;
    font-weight: bold;
    background: url(../images/linehr.gif) repeat-x bottom;
}
.ui-datepicker td { padding: 0 }
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: 4px;
    text-decoration: none;
}*/

#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
}
#dialogboxes .window {
    position: absolute;
    display: none;
    padding: 2px;
    left: 0;
    top: 0;
    width: 382px;
    z-index: 9999;
    background-color: #335c91;
}
#dialogboxes .window .gadget { margin-bottom: 0 }
#dialogboxes .window .gadget .gadget { margin-bottom: 12px }
h1 {
    margin: 0;
    font-weight: normal;
    line-height: 28px;
    font-size: 22px;
    color: #de0900;
    font-family: Georgia,"Arial",Helvetica,sans-serif;
}
h2 {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    color: #000;
    font-family: Georgia,"Arial",Helvetica,sans-serif;
}
h3 {
    margin: 0;
    font-weight: normal;
    height: 22px;
    font-size: 18px;
    color: #fff;
	text-decoration:underline;
    font-family: "Segoe UI",Georgia,"Arial",Helvetica,sans-serif;
}
div,
h1,
h2,
h3,
h4,
form,
label,
input,
img,
span {
    margin: 0;
    padding: 0;
}
button { margin-left: 3px }
.right-text {
    text-align: right;
    padding-right: 10px;
    color: #000;
}
.field-cmn {
    background: #fff url(../images/main/field-back.gif) repeat-x;
    border: 1px solid #ccc;
    padding: 3px;
    width: 250px;
    color: #000;
    font-size: 11px;
}
.area-cmn {
    background: #fff url(../images/field-back.gif) repeat-x;
    border: 1px solid #ccc;
    padding: 3px;
    width: 250px;
    height: 50px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #000;
}
.tr-class {
    margin-bottom: 10px;
    border: 1px #000 solid;
}
.tr-height { height: 30px }
div.adminfilter { float: right }
table.adminfilter {
    color: #666;
    float: left;
}
.button_orderby { width: 25px }
div.toolbar {
    float: right;
    text-align: right;
    padding: 0;
}
table.toolbar {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    line-height: 10px;
}
table.toolbar td,
div.button {
    padding: 1px 1px 1px 4px;
    text-align: center;
    color: #666;
    height: 48px;
}
table.toolbar td.spacer { width: 10px }
table.toolbar td.divider {
    border-right: 1px solid #eee;
    width: 5px;
}
table.toolbar span,
div.button span {
    float: none;
    width: 45px;
    height: 33px;
    margin: 0 auto;
    display: block;
}
table.toolbar a,
div.button a {
    display: block;
    float: left;
    white-space: nowrap;
    border: 1px solid #fbfbfb;
    padding: 0;
    cursor: pointer;
    color: #0b55c4;
    text-decoration: none;
	outline:0;
}
table.toolbar a:hover,
div.button a:hover {
    /*border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #0b55c4;*/
	text-decoration: none;
	outline:0;
}
table.toolbar a:hover>span { background-position: bottom }
div.button { display: inline }
table.adminlist,
table.popupwindow {

    width: 100%;
    border-spacing: 1px;
    background-color: #e7e7e7;
    color: #666;
}
table.popupwindow td {
    background-color: #fff;
    padding: 4px;
    vertical-align: top;
}
table.adminlist td,
table.adminlist th { padding: 4px }
table.adminlist thead th {
    background: #f0f0f0;
    color: #666;
    border-bottom: 1px solid #999;
    border-left: 1px solid #fff;
    font-weight: bold;
}
table.adminlist thead a:hover { text-decoration: none }
table.adminlist thead th img { vertical-align: middle }
table.adminlist tbody th { font-weight: bold }
table.adminlist tbody tr {
    background-color: #fff;
    text-align: left;
}
table.adminlist tbody tr.row1 {
    background: #f9f9f9;
    border-top: 1px solid #fff;
}
table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td { background-color: #ffd }
table.adminlist tbody tr td { background: #fff }
table.adminlist tbody tr.row1 td { background: #f9f9f9 }
table.adminlist tfoot tr {
    text-align: center;
    color: #333;
}
table.adminlist tfoot td,
table.adminlist tfoot th {
    background-color: #f3f3f3;
    border-top: 1px solid #999;
    text-align: left;
}
table.adminlist td.order {
    text-align: center;
    white-space: nowrap;
}
table.adminlist td.order span {
    float: left;
    display: block;
    width: 20px;
    text-align: center;
}
table.adminlist .pagination {
    display: inline;
    padding: 0;
    margin: 0 auto;
}
.pagination strong { font-size: 13px }
.pagination div.limit {
    display: inline;
    height: 22px;
    line-height: 22px;
    margin: 0 10px;
}
.pagination_top {
    color: #0b55c4;
    display: inline-block;
}
.pagestart,
.pageend,
.pagetotal {
    font-weight: bold;
    font-size: 12px;
    cursor: default;
}
a:link {
    color: #0b55c4;
    text-decoration: none;
}
a:visited {
    color: #0b55c4;
    text-decoration: none;
}
a:hover { /*text-decoration: underline*/ }
fieldset {
    margin-bottom: 10px;
    /*border: 1px #ccc solid;*/
    padding: 5px;
    text-align: left;
}
fieldset p { margin: 10px 0 }
legend {
    color: #0b55c4;
    font-size: 12px;
    font-weight: bold;
}
input {
    font-size: 12px;
    border: 1px solid silver;
    padding: 0 2px;
}
textarea {
    font-size: 12px;
    border: 1px solid silver;
}
button { font-size: 12px }
input.disabled { background-color: #f0f0f0 }
input.button {
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
}
input:focus,
select:focus,
textarea:focus { background-color: #ffd }
table.admintable td { padding: 3px }
table.admintable td.key,
table.admintable td.paramlist_key {
    background-color: #f6f6f6;
    text-align: right;
    width: 315px;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}
table.admintable td.key_chk {
    background-color: #f6f6f6;
    text-align: center;
    width: 168px;
    color: #666;
    font-weight: bold;
    -moz-border-radius: 8px;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}
table.admintable td.key_top {
    background-color: #eee;
    text-align: right;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
}
table.admintable td.key_topxx {
    background-color: #f6f6f6;
    text-align: right;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
}
table.admintable td.key_top_r {
    background-color: #fff;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
}
table.admintable td.l_key {
    background-color: #f6f6f6;
    text-align: left;
    color: #333;
    font-weight: normal;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}
label.error ,div.error {
    color: red;
    width: auto!important;
    display: block;
    font: 12px Verdana,Arial,Helvetica,sans-serif;
}
div.success {
    color: green;
    width: auto!important;
    display: block;
    font: 12px Verdana,Arial,Helvetica,sans-serif;
}
form span.req {
    display: inline;
    float: none;
    color: red!important;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
div.tr { padding: 1px }
div.td_left {
    width: 50%;
    float: left;
}
div.td_right {
    width: 50%;
    float: right;
}
div.td_l {
    background-color: #eee;
    float: left;
    padding: 0 2px;
    text-align: right;
    width: 315px;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
}
div.td_lx {
    background-color: #eee;
    float: left;
    padding: 0 2px;
    text-align: right;
    width: 230px;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
}
div.td_r {
    width: 43%;
    float: left;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
}
div.tr_bar { padding: 2px }
div.td_3 { width: 120px }
div.table {
    width: 402px;
    background: #d6e1f5;
}
div.table .tr_top {
    background: url('../images/container-top.gif') no-repeat;
    width: 100%;
    height: 9px;
}
div.table .tr_bottom {
    background: url('../images/container-btm.gif') no-repeat;
    width: 100%;
    height: 9px;
}
.clear { clear: both }
#main_container {
    float: left;
    width: 100%;
}
#wrapper {
    width: 100%;
    margin: 0 auto;
}
.spacer {
    width: 100%;
    float: left;
}
#inner_body_container {
    float: left;
    width: 100%;
}
#inner_body_container .middle_container {
    float: left;
    width: 100%;
   /* background: url(../images/middle_body.png) repeat-y 0 0;*/
}
#inner_body_container .middle_container .form_container {
    float: left;
    width: 100%;
    display: inline;
}
#inner_body_container .middle_container .form_container h1 {
    color: #1e6cb0;
    font-size: 24px;
    padding: 4px 0 0 0;
}
#inner_body_container .middle_container .form_container h4 {
    color: #656565;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0 0 0;
}
#inner_body_container .middle_container .form_container form {
    float: left;
    width: 100%;
    background: #eee;
    border: 2px solid #99bcdf;
    padding: 0 12px 0 0;
}
#inner_body_container .middle_container .form_container form .note {
    float: left;
    width: 98%;
    background: #fff url(../images/li_background.jpg) repeat-x left bottom;
    display: inline;
    padding: 0 0 8px 0;
}
#inner_body_container .middle_container .form_container form .note h3 {
    padding: 12px 0 0 8px;
    font-size: 20px;
}
#inner_body_container .middle_container .form_container form .note span { padding: 6px 0 0 8px }
#inner_body_container .middle_container .form_container form .note a { color: #0080bf }
#inner_body_container .middle_container .form_container form .note a:hover {
    color: #0080bf;
    text-decoration: none;
}
#inner_body_container .middle_container .form_container form ul {
    float: left;
    width: 684px;
    list-style: none;
    padding: 8px 0 0 8px;
}
#inner_body_container .middle_container .form_container form ul li {
    background: url(../images/li_background.jpg) repeat-x left bottom;
    padding: 0 0 11px 0;
}
#inner_body_container .middle_container .form_container form ul li .choose {
    width: 128px;
    height: 20px;
    border: 1px solid #a8bccf;
}
#inner_body_container .middle_container .form_container form ul li.last { background: none }
#inner_body_container .middle_container .form_container .box1 {
    float: left;
    width: 100%;
    padding: 0;
}
#inner_body_container .middle_container .form_container .box1 form {
    width: auto;
    float: left;
    background: none;
    border: 0;
}
#inner_body_container .middle_container .form_container .box1 .middle {
    width: 98%;
    background: #eee;
    border: 2px solid #e3e3e3;
    float: left;
    padding: 15px 10px 20px 10px;
}
#inner_body_container .middle_container .form_container .box1 .middle .form_row {
    width: 100%;
    background: url(../images/li_background.jpg) repeat-x left bottom;
    padding: 10px 0 10px 0;
    float: left;
}
#inner_body_container .middle_container .form_container .box1 .middle .form_row.last { background: none }
#inner_body_container .middle_container .form_container .box1 .middle .form_row .col1 {
    width: 22%;
    float: left;
    text-align: right;
    font-weight: bold;
    padding: 3px;
    background: #f4f4f4;
    border: 1px solid #e3e3e3;
}
#inner_body_container .middle_container .form_container .box1 .middle .form_row .col2 {
    width: 26%;
    float: left;
    padding: 4px;
    padding-right: 0px;
}
#inner_body_container .middle_container .form_container .box1 .middle .form_row .col2 .choose {
    width: 85px;
    border: 1px solid #a8bccf;
}
#inner_body_container .middle_container .form_container .box1 .middle .form_row .col3 {
    width: 22%;
    float: left;
    text-align: right;
    font-weight: bold;
    padding: 3px;
    background: #f4f4f4;
    border: 1px solid #e3e3e3;
}
#inner_body_container .middle_container .form_container .box1 .middle .form_row .col4 {
    width: 26%;
    float: left;
    padding: 4px;
}
#inner_body_container .middle_container .form_container .box1 .middle .form_row .choose1 {
    width: 57px;
    border: 1px solid #a8bccf;
}
#inner_body_container .middle_container .form_container .box1 .middle .form_row .col5 {
    width: 22%;
    float: left;
    text-align: right;
    font-weight: bold;
}
#inner_body_container .middle_container .form_container .box1 .middle .form_row .col6 {
    width: 27%;
    float: left;
    padding-left: 5px;
}
#inner_body_container .middle_container .form_container .box1 .middle .form_row .input {
    width: 85%;
    border: 1px solid #a8bccf;
    color: #003b9d;
    -moz-border-radius: 5px;
    background-color: white;
}
#inner_body_container .middle_container .form_container .box1 .middle .form_row .input1 {
    width: 96px;
    border: 1px solid #a8bccf;
    color: #003b9d;
}
#inner_body_container .middle_container .form_container .box1 .middle .form_row a {
    text-decoration: underline;
    color: #003b9d;
}
#inner_body_container .middle_container .form_container .box1 .middle .form_row a:hover { text-decoration: none }
#inner_body_container .middle_container .get {
    float: right;
    margin: 18px 35px 0 0;
    width: 211px;
    display: inline;
}
#inner_body_container .middle_container .get a.button {
    float: left;
    width: 174px;
    height: 45px;
    display: block;
}
#inner_body_container .middle_container .get input.button {
    float: left;
    background: url(../images/button.gif) no-repeat 0 0;
    width: 174px;
    height: 45px;
    display: block;
    border: 0;
}
#inner_body_container .middle_container .get a.button:hover { background-position: 0 bottom }
#inner_body_container .middle_container .get .lock {
    width: 110px;
    float: left;
    padding: 8px 0 0 65px;
}
#inner_body_container .middle_container .get .lock h5 {
    float: left;
    font-weight: normal;
    padding-top: 4px;
    font-size: 11px;
}
#inner_body_container .middle_container .get .lock img {
    float: left;
    display: inline;
    margin: 0 0 0 4px;
}
.star {
    color: #f00;
    font-weight: bold;
    font-size: 16px;
}
#checking_lender {
    display: none;
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -100px;
    width: 400px;
    background: #fff;
    padding: 10px 15px 10px 15px;
    color: red;
    font-size: 16px;
    font-weight: bold;
    z-index: 1001;
    border-width: 2px;
    -moz-border-radius: 15px;
    border-color: #c33;
}
#loading{
	color:#FF0000;
	display:none;
}
#phone_Reqx{
	display:none;
}



#suggestion, #suggestion_1 {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #FFFFCC;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
	display: inline-block;
    margin-left: -884px;
    margin-top: 54px;
}

#asign_multiple_leads_div {
    display: none;
    position: fixed;
    top: 372px;
    left: 37%;
    margin-left: -100px;
    width: 400px;
    background: #fff;
    padding: 10px 15px 10px 15px;
    color: red;
    font-size: 16px;
    font-weight: bold;
    z-index: 1001;
    border-width: 2px;
    -moz-border-radius: 15px;
    border-color: #c33;
}



/*========= SCRIPT TOOLTIP ======*/
.pop {
  position: absolute;
  display: inline; }
  .pop .pop_menu {
    display: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
  .pop .pop_toggle {
    background-image: url(../images/infomation.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer; }

.active .pop_menu {
  display: block;
  background-color: #F594A2;
  color: #fff;
  /*position: absolute;*/
  padding: .6em;
  /*width: 12em;*/
  
	background: url("") no-repeat scroll 95% 9px #222222;
	border: 6px solid #333333;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
	font-size: 12px;
	line-height: 16px;
	margin: 0 0 0 23px;
	/*padding: 10px 12px 12px;*/
	/*position: absolute;*/
	text-align: left;
	/*width: 250px;*/
	z-index: 9998;
  }
  .active .pop_menu a {
    color: #fff; }
.active .pop_toggle {
  z-index: 2000;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/infomation.png); }
  
.active .pop_menu b {
    border-bottom: 1px dotted #555555;
    color: #FFE27F !important;
    cursor: pointer;
    display: block;
    font-size: 13px;
    margin: 0 0 10px;
    padding-bottom: 5px;
}

.active .pop_menu em {
    color: #FFFFFF;
    display: block;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.02em;
    margin: 0 0 7px;
}
/*========= SCRIPT TOOLTIP ======*/






/*.widget {
  background: none repeat scroll 0 0 #fff;
  border-top: 1px solid #e0dede;
  border-left: 1px solid #e0dede;
  border-right: 1px solid #e0dede;
  clear: both;
  margin-top: 0px;
  margin-bottom: 20px;

  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}*/

.widget-title {
  background-color: #EFEFEF;
  background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#FDFDFD), to(#EAEAEA));
  background-image: -webkit-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
  background-image: -moz-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
  background-image: -ms-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
  background-image: -o-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
  background-image: -linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 );
  border-bottom: 1px solid #e0dede;
  height: 25px; 

  -webkit-border-radius: 3px 3px 0px 0px;
     -moz-border-radius: 3px 3px 0px 0px;
          border-radius: 3px 3px 0px 0px;
}

.widget-body {
  padding: 15px 15px;
  /*border-bottom: 1px solid #CDCDCD;
  -webkit-border-radius: 0px 0px 3px 3px;
     -moz-border-radius: 0px 0px 3px 3px;
          border-radius: 0px 0px 3px 3px;*/
}

.widget-title h4 {
  color: #444;
 /* float: left;*/
  font-size: 13px;
  font-weight1: bold;
  padding: 5px 11px 10px 5px;
  line-height: 12px;
  margin: 0;
}

.widget-title h4 i {
  font-size: 14px;
  margin-right: 2px;
}





div.checker input {
	opacity: 0;
	filter: alpha(opacity:0);
	display: inline-block;
	background: none;
}


div.checker input {
	width: 19px;
	height: 19px;
}
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
	width: auto;
}

input[type="radio"], input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px 9;
	line-height: normal;
}

label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
	cursor: pointer;
}

.selector, .radio, .checker, .uploader, .button, .selector *, .radio *, .checker *, .uploader *, .button * {
	margin: 0;
	padding: 0;
}

div.checker {
	position: relative;
}

div.checker {
	margin-right: 5px;
}

div.checker {
	width: 19px;
	height: 19px;
}

.selector, .checker, .button, .radio, .uploader {
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
}


div.checker span {
	display: -moz-inline-box;
	display: inline-block;
	text-align: center;
}

div.checker span {
	background-position: 0px -260px;
	height: 19px;
	width: 19px;
}

div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased;
}
div.checker span.checked {
background-position: -76px -260px;
}





.pagination {
	margin: 20px 0;
}

.pagination ul {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.pagination-mini ul > li:first-child > a, .pagination-small ul > li:first-child > a, .pagination-mini ul > li:first-child > span, .pagination-small ul > li:first-child > span {
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-topleft: 3px;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
border-left-width: 1px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
}

.pagination-small ul > li > a, .pagination-small ul > li > span {
	padding: 2px 10px;
	font-size: 11.9px;
}

.pagination ul > li > a, .pagination ul > li > span {
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	background-color: white;
	border: 1px solid #DDD;
	border-left-width: 0;
}




.report-range-container {
  display: inline-block;
  background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;
}
.report-range-container .caret {
  margin-top: 8px; margin-left:5px;
}
.report-range-container i {
  margin-top: 2px;
  margin-right: 3px; 
}
.dashboard-report-range-container span {
  font-weight: normal; 
} 

.dashboard-report-range-container {
  text-shadow:none !important;
  padding-top: 1px;
  margin-right: -10px;
  margin-top: -8px;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  background-color: #d12610;
}
.dashboard-report-range-container i {
  color: #fff;
  margin-top: 3px;
  margin-right: 3px; 
}
.dashboard-report-range-container span {
  font-weight: normal; 
} 
.dashboard-report-range-container .caret {
  border-top-color:#fff !important;
  margin-top: 8px; 
  margin-left:3px;
  margin-right: 3px;
}
