@import url("themes/base/jquery.ui.all.css");
/* simple css-based tooltip */
span.question {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #FFB272;
  line-height: 16px;
  color: White;
  font-size: 13px;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  position: absolute;
  margin:12px 0px 0px 1px;
}
span.question:hover { background-color: rgb(225, 111, 42); }
div.tooltip {
  background-color: rgb(225, 111, 42);
  color: White;
  position: absolute;
  left: 25px;
  top: -25px;
  z-index: 1000000;
  width: 250px;
  border-radius: 5px;
}
div.tooltip:before {
  border-color: transparent rgb(225, 111, 42) transparent transparent;
  border-right: 6px solid rgb(225, 111, 42);
  border-style: solid;
  border-width: 6px 6px 6px 0px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  line-height: 0;
  position: absolute;
  top: 40%;
  left: -6px;
}
div.tooltip p {
  margin: 10px;
  color: White;
  text-align:justify;
  font-family:'varela';
  font-size:12px;
}
.xverify_tooltip_underprocess {
	font-family:tahoma,Verdana, Geneva, sans-serif;
	background-color:#000;
	border: 2px solid #DDDDDD;
	border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 6px #000000;
	font-size: 11px;
	padding: 8px 8px;
	width:200px;
	display:none;
	color:#fff;
	text-align:left;
	z-index:5001;
	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 6px #000;
	-webkit-box-shadow:0 0 6px #000;
}
.tooltip_error {
	font-family:tahoma,Verdana, Geneva, sans-serif;
	background-color:#F00;
	border: 2px solid #DDDDDD;
	border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 6px #000000;
	font-size: 11px;
	padding: 8px 8px;
	width:145px;
	display:none;
	color:#fff;
	text-align:left;
	margin:30px 17px 11px -211px;
	z-index:5001;
	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 6px #000;
	-webkit-box-shadow:0 0 6px #000;
}

.tooltip_warning {
	font-family:tahoma,Verdana, Geneva, sans-serif;
	background-color:#F60;
	border: 2px solid #DDDDDD;
	border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 6px #000000;
	font-size: 11px;
	padding: 8px 8px;
	width:200px;
	display:none;
	color:#fff;
	text-align:left;
	z-index:5001;
	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 6px #000;
	-webkit-box-shadow:0 0 6px #000;
}
.tooltip_error a{
	color:#FFF;
}
.tooltip_warning a{
	color:#FFF;
}
.ui-gray-dialog .ui-widget-content{padding:10px; overflow:hidden}
.ui-gray-dialog .ui-dialog-content{padding:10px;overflow:hidden}
.ui-gray-dialog .ui-dialog-titlebar{padding:0px;}
.ui-gray-dialog .ui-widget-header{
		background-color:#fff;
	    color: #999;
    	font-size: 10px;
		padding:0px;
		border:0;
		font-weight: normal;
}
.tooltip_mobile {
	font-family:tahoma,Verdana, Geneva, sans-serif;
	background-color:#000;
	border: 1px solid #DDDDDD;
	font-size: 11px;
	padding: 2px;
	display:none;
	color:#fff;
	text-align:left;
	z-index:5001;
}
.xverify_tooltip_underprocess_mobile {
	font-family:tahoma,Verdana, Geneva, sans-serif;
	background-color:#000;
	border: 1px solid #DDDDDD;
	font-size: 11px;
	padding: 2px;
	display:none;
	color:#fff;
	text-align:left;
	z-index:5001;
	text-transform:uppercase;
	font-weight:bold;
}
.tooltip_error_mobile {
	font-family:tahoma,Verdana, Geneva, sans-serif;
	background-color:#F00;
	border: 1px solid #DDDDDD;
	font-size: 11px;
	padding: 2px;
	display:none;
	color:#fff;
	text-align:left;
	z-index:5001;
	text-transform:uppercase;
	font-weight:bold;
}

.tooltip_warning_mobile {
	font-family:tahoma,Verdana, Geneva, sans-serif;
	background-color:#F60;
	border: 1px solid #DDDDDD;
	font-size: 11px;
	padding: 2px;
	display:none;
	color:#fff;
	text-align:left;
	z-index:5001;
	text-transform:uppercase;
	font-weight:bold;
}
